<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/popup.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>

<body>

{% include 'login.html' %}
{% include 'register.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p class="flash">{{ message }}</p>
                        <button type="button" class="btn-flash btn-close" data-bs-dismiss="alert">
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p class="flash">{{ message }}</p>
                        <button type="button" class="btn-flash btn-close" data-bs-dismiss="alert">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div id="body-wrapper">
        <header class="clearfix">
            <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
            <span id="header-title" class="title">
                <a href="{{ url_for('home_page') }}" style="color: white;">Codecool Series DB</a></span>
            <div id="header-auth">
            <ul>
                <button type="button" onclick="location.href=`/shows`;">Shows</button>
                <button type="button" onclick="location.href=`/ratings`;">Ratings</button>
                <button type="button" onclick="location.href=`/ordered-shows`;">Ordered Shows</button>
                <button type="button" onclick="location.href=`/actors`;">Actors</button>
                <button type="button" onclick="location.href=`/filter-actors`;">Filter Actors</button>
                <button type="button" onclick="location.href=`/birthday-actors`;">Birthday Actors</button>
                <button type="button" onclick="location.href=`/year-exam`;">Year Exam</button>

                {% if user %}
                    <form action="{{ url_for('post_logout') }}" method="post" style="display: inline-block">
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                {% else %}
                        <button type="button" class="nav-link" id="register-button">Register</button>
                        <button type="button" class="nav-link" id="login-button">Login</button>
                {% endif %}
                {% if user %}
                    <span >Signed in as {{ user.username }}</span>
                {% endif %}
            </ul>
            </div>
        </header>
        <div class="content container">
            {% block body %}{% endblock %}
        </div>
        <footer>
            Copyright, bla-bla
        </footer>
    </div>
    <div class="background">
        <div class="dark-blue-layer"></div>
        <div class="light-blue-layer"></div>
    </div>

{#<script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>#}
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>