{% extends 'layout.html' %}
{% block title %}Shows{% endblock %}
{% block body %}

<section>
    <h1 class="title text-center">Shows</h1>
    <div class="card">
        <table>
            <tr>
                <th class="action-column">Title</th>
                <th>Year</th>
                <th>Runtime</th>
                <th>Rating</th>
                <th>Genre</th>
                <th class="action-column">Trailer</th>
                <th class="action-column">Homepage</th>
            </tr>
            {% for show in shows %}
                <tr>
                    <td><a href="/show/{{ show.id }}">{{ show.title }}</a></td>
                    <td>{{ show.year }}</td>
                    <td>{{ show.runtime }}</td>
                    <td>{{ show.rating }}</td>
                    <td>{{ show.genre }}</td>
                    <td>{% if show.trailer is not none %}<a href="{{ show.trailer }}">{{ show.trailer }}{% else %}No URL{% endif %}</a></td>
                    <td>{% if show.homepage is not none %}<a href="{{ show.homepage }}">{{ show.homepage }}{% else %}No URL{% endif %}
                    </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="card text-center">

        {% if page_now == 1 %}
            <strong><<<</strong>
            <<
            {% for page in range(page_now, page_now + 5) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% else %}
            <a href="?page=1"><strong><<<</strong></a>
            <a href="?page={{ page_now - 1 }}"><<</a>
        {% endif %}
        {% if page_now == 2 %}
            {% for page in range(page_now-1, page_now + 4) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% endif %}

        {% if page_now > 2 %}
            {% for page in range(page_now - 2, page_now + 3) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% endif %}



        {% if page_now == pages %}
            >>
            <strong>>>></strong>
        {% else %}
            <a href="?page={{ page_now + 1 }}">>></a>
            <a href="?page={{ pages }}"><strong>>>></strong></a>
        {% endif %}
{#        <div class="dropdown">#}
{#            <br>#}
{#            <button class="dropbtn">Shows per page</button>#}
{#            <div class="dropdown-content">#}
{#                <a href="rows=10">10</a>#}
{#                <a href="rows=20">20</a>#}
{#                <a href="rows=30">30</a>#}
{#            </div>#}
{#        </div>#}

    </div>
</section>
{% endblock %}