{% extends 'layout.html' %}

{% block title %}Series with + 4 season{% endblock %}

{% block body %}
    <section>
        <nav class="breadcrumb">
            <a href="/plus-4-seasons">Series with + 4 seasons</a>
        </nav>
        <h1 class="title text-center">Series with + 4 seasons</h1>
        <div class="card text-center">
            <form>
                <p class="form-element">
                    <label class="form-element-label" for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Search for actor name...">
                </p>
            </form>
            <table>
                <thead id="tableHeadSeasons" data-order="desc">
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Trailer</th>
                        <th>Number of seasons</th>
                    </tr>
                </thead>
                <tbody id="tableBodySeasons">
                    {% for show in shows %}
                        <tr>
                            <td>{{ show.name }}</td>
                            <td>{{ show.year }}</td>
                            <td>{% if show.trailer is not none %}<a href="{{ show.trailer }}">{{ show.trailer }}{% else %}No URL{% endif %}</a></td>
                            <td>{{ show.number_of_seasons }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/plus4seasons.js') }}"></script>
{% endblock %}