{% extends 'layout.html' %}
{% block title %}Shows{% endblock %}
{% block body %}

<section>
    <h1 class="title text-center">Shows</h1>
    <div class="card">
        <table>
            <thead id="showsTableHeader">
            <tr>
                <th>
                    <a href="/shows/title/{% if order == 'desc' %}asc{% else %}desc{% endif %}">Title</a>
                </th>
                <th>
                    <a href="/shows/year/{% if order == 'desc' %}asc{% else %}desc{% endif %}">Year</a>
                </th>
                <th>
                    <a href="/shows/runtime/{% if order == 'desc' %}asc{% else %}desc{% endif %}">Runtime (min)</a>
                </th>
                <th>
                    <a href="/shows/most-rated/{% if order == 'desc' %}asc{% else %}desc{% endif %}">Rating</a>
                </th>
                <th>Genres</th>
                <th>Trailer</th>
                <th>Homepage</th>

            </tr>
            </thead>
            <tbody id ='showsTableBody'>
            {% for show in shows %}
                <tr>
                    <td><a href="/show/{{ show.id }}">{{ show.title }}</a></td>
                    <td>{{ show.year }}</td>
                    <td>{{ show.runtime }}</td>
                    <td>{{ show.rating }}</td>
                    <td>{{ show.genre }}</td>
                    <td>{% if show.trailer is not none %}<a href="{{ show.trailer }}">{{ show.trailer }}{% else %}No URL{% endif %}</a></td>
                    <td>{% if show.homepage is not none %}<a href="{{ show.homepage }}">{{ show.homepage }}{% else %}No URL{% endif %}
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="card text-center">

        {% if page_now == 1 %}
            <strong><<<</strong>
            <<
            {% for page in range(page_now, page_now + 5) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% else %}
            <a href="?page=1"><strong><<<</strong></a>
            <a href="?page={{ page_now - 1 }}"><<</a>
        {% endif %}
        {% if page_now == 2 %}
            {% for page in range(page_now-1, page_now + 4) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% endif %}

        {% if page_now > 2 %}
            {% for page in range(page_now - 2, page_now + 3) %}
                <a href="?page={{ page }}">{% if page_now == page %}<mark>{{ page }}</mark>{% else %}{{ page }}{% endif %}</a>
            {% endfor %}
        {% endif %}



        {% if page_now == all_pages %}
            >>
            <strong>>>></strong>
        {% else %}
            <a href="?page={{ page_now + 1 }}">>></a>
            <a href="?page={{ all_pages }}"><strong>>>></strong></a>
        {% endif %}
{#        <div class="dropdown">#}
{#            <br>#}
{#            <button class="dropbtn">Shows per page</button>#}
{#            <div class="dropdown-content">#}
{#                <a href="rows=10">10</a>#}
{#                <a href="rows=20">20</a>#}
{#                <a href="rows=30">30</a>#}
{#            </div>#}
{#        </div>#}

    </div>
</section>
        <script src="{{ url_for('static', filename='js/sorting.js') }}"></script>

{% endblock %}