{% extends 'layout.html' %}

{% block title %}Ordered Shows{% endblock %}

{% block body %}
    <section>
        <nav class="breadcrumb">
            <a href="/ordered-shows">Actor from year 2010-2012</a>
        </nav>
        <h1 class="title text-center">Actor from year 2010-2012</h1>
        <div class="card text-center">
            <table>
                <thead id="tableHeadYear" data-order="desc">
                    <tr>
                        <th>ID</th>
                        <th>Actor Name</th>
                        <th>Death</th>
                        <th>Character Name</th>
                    </tr>
                </thead>
                <tbody id="tableBodyYear">
                    {% for actor in actors %}
                        <tr>
                            <td>{{ actor.id }}</td>
                            <td>{{ actor.name }}</td>
                            <td>{{ actor.date }}</td>
                            <td>{{ actor.character }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/year-exam.js') }}"></script>
{% endblock %}